[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
	branch = master
	ignore = dirty
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
	branch = master
	ignore = dirty
[submodule "themes/quantum-mobile"]
	path = themes/quantum-mobile
	url = git@github.com:quantumfate/quantum-mobile.git
[submodule "themes/quantum-desktop"]
	path = themes/quantum-desktop
	url = git@github.com:quantumfate/quantum-desktop.git
